body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.VolumeBtn{
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  font-size: 30px;
  margin-bottom: 7px;
}

.VolumeBtn:hover{
  cursor: pointer;
}